<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
  
        <img src="https://lh3.googleusercontent.com/proxy/Oap8pmfZKvx1WNRxSP3jndu161fCre-X1oXVRqFt0YDgn3QpibT4zxVVboFzybY6URoxy1IKqhrDOuImO1W4w1u4CZ_vMgS58gnl9yoCrruNskRY68Jg" class="img-thumbnail" alt="Cinque Terre">
        <b><p>Create an account or login</p></b>
        <b> <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a></b>
       <b> <a href="/users/login" class="btn btn-secondary btn-block">Login</a></b>
       
      </div>
    </div>
  </div>
  